body {
  font-family: arial;
  width: 100%;
}

.container {
  width: 100%;
}
.row{
  width: 100%;
}
.imgheader{
  width: 100%;
}
.imgheader>img{
  width: 100%;
}
h1 {
  text-align: center;
}

.itempro{
  height: 400px;
  margin-top: 5px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.nameandprice{
  width: 100%;
  height: 30%;
}
.product-item label {
  font-weight: bold;
}

.product-item p {
  margin: 0;
  line-height: 26px;
  max-height: 52px;
  overflow: hidden;
}

.product-price {
  color: red;
  font-weight: bold;
}

.product-img {
  padding: 5px;
  margin-bottom: 5px;
}

.product-item img {
  width: 100%;
  height: 100%;
}

.product-item ul {
  margin: 0;
  padding: 0;
  border-right: 1px solid #ccc;
}

.product-item ul li {
  float: left;
  width: 33.3333%;
  list-style: none;
  text-align: center;
  border: 1px solid #ccc;
  border-right: 0;
  box-sizing: border-box;
}

.clear-both {
  clear: both;
}

a {
  text-decoration: none;
}

.buy-button {
  width: 100%;
  text-align: center;
  margin-top: 20px;
 
}

.buy-button a {
  background: #444;
  padding: 5px;
  color: #fff;
}

#pagination {
  margin:20px 42%;
}

.page-item {
  border: 1px solid #ccc;
  padding: 5px 9px;
  color: #000;
}

.current-page {
  background: #000;
  color: #fff;
}
