.addproduct{
    width: 70%;
    height: fit-content;
    margin: auto;
    border-radius: 20px;
    background-color: #E6E6E6;
    padding: 10px 0;
}
.title{
    width: fit-content;
    text-align: center;
    margin: auto;
    width: fit-content;
    padding: 0px 20px;
    background-color: #00B528;
    border-radius: 10px;
}
.nameproduct, .priceandvolume, .description{
    width: 100%;
    display: flex;
}
.pricepro, .volumepro{
    width: 50%;
    display: flex;
}
.nameproduct >h2, .priceandvolume >h2, .description >h2, .pricepro >h2, .volumepro >h2{
    width: 20%;
    font-size: 30px;
}
.pricepro >h2, .volumepro >h2{
    width: 40%;
}
.nameproduct, .priceandvolume, .description{
    margin: 0 0 20px 30px;
}
.innamepro{
    width: 70%;
    font-size: 20px;
}
.inpricepro{
    width: 50%;
    font-size: 20px;
}
.involumepro{
    width: 40%;
    font-size: 20px;
}
.textdes{
    width: 70%;
    height: 100px;
    font-size: 20px;
}
.innamepro, .inpricepro,.involumepro, .textdes{
    border-radius: 10px;
}
.divbutton{
    width: 100%;
    text-align: center;
}
.buttonadd, .buttonreset{
    margin: 10px 0px 0 50px;
    width: 30%;
    height: 60px;
    cursor: pointer;
    background-color: #00B528;
    font-size: 30px;
}
.buttonadd:hover, .buttonreset:hover{
    background-color: #03841f;
}
.Danhmucproduct{
    width: 70%;
    height: fit-content;
    background-color: #C7F8C6;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 20px;
    border-radius: 10px;
    padding-top: 10px;
}
.h1dmsanpham{
    width: fit-content;
    text-align: center;
    margin: auto;
    background-color: #00B528;
    padding: 0px 40px;
    border-radius: 20px;
}
.headerdm{
    width: 100%;
    display: flex;
}
.headerdm > div{
    width: 23%;
    display: inline;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
    
}
.confirm{
    margin: 0 0 20px 0;
}
.frameconfirm{
    display: flex;
    margin-left: 10px;
}
.dsnamepro, .dspricepro, .dsvolumepro{
    width: 23%;
    margin: 5px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}
button{
    width: 12%;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
.editbutton{
    background-color: #0ACA34;
}
.deletebutton{
    background-color: red;
}
.deletebutton:hover{
    background-color: rgb(187, 8, 8);
}
.editbutton:hover{
    background-color: #099a29;
}